@media(max-width:480px){
    /*header (inicio)*/
    .box-social-midia{
        display: none;
    }
    /*hamburquesa*/
    .button-menu-hamburquesa-oppen{
        width: 35px;
        height: 25px;
    }
    .section-botton-description h3{
        margin: 0;
    }
    /*header (fin)*/
    /*section one(inicio)*/
    .section-one-botton{
        padding: 0 24px;
    }
    .section-botton-tecnologies{
        width: 100%;
    }
    /*section one(fin)*/
}