.ventana-emergente{
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-ventana-emergente {
    width: calc(100% - 48px);
    max-width: 1200px;
    height: 94vh; /* Altura máxima disponible */
    max-height: 1200px;
    background: rgba(0, 0, 0, 0.678);
    border: 3px solid var(--color-bg1);
    border-radius: 16px;
    padding: 24px;

    /* Configuración Flexbox para manejar el espacio */
    display: flex;
    flex-direction: column; /* Estructura vertical */
}
.header-ventana-emegente {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px; /* Espacio entre header y descripción */
}
.title-ventana-emergente{
    color: var(--color-bg1);
    font-size: var(--text-size-24);

}
.header-ventana-emegente button{
    color: var(--color-bg1);
    font-size: var(--text-size-35);
    border: none;
    background: none;
    transition: 300ms;
}
.header-ventana-emegente button:hover{
    color: #503eec;
}
.description-emergente {
    width: 100%; /* Ajusta al ancho del contenedor */
    margin-bottom: 16px; /* Espaciado */
    font-size: var(--text-size-18);
    color: var(--text-color-1);
}
.description-emergente strong{
    color: var(--text-color-2);
}

.iframe-ventana-emergente {
    width: 100%;
    flex-grow: 1; /* Ocupa el espacio restante */
}